.folio1 {
  background: url('http://localhost:8000/static/assets/1.jpg') 50% 50% no-repeat;
}

.folio2 {
  background: url('http://localhost:8000/static/assets/2.jpg') 50% 50% no-repeat;
}

.folio3 {
  background: url('http://localhost:8000/static/assets/3.jpg') 50% 50% no-repeat;
}

.img_circle_holder {
    width: 140px;
    height: 140px;
}

/* resize images */
.img_circle_holder img {
    width: 100%;
    height: auto;
}

.img_holder {
    width: 400px;
    height: 400px;
}

/* resize images */
.img_holder span img {
    width: 100%;
    height: auto;
}

