.table-bordered th, .table-bordered td {
  border-color: darkgray;
}

.table td {
  vertical-align: middle;
}

th {
  background-color: white;
}


td.dimmed {
  background-color: gray;
}

td.offwork {
  color: black;
}

td.green {
  color: green;
}

td.yellow {
  color: yellow;
}

td.orange {
  color: orange;
}

td.red {
  color: red;
}

td {
  height: 50px;
  font-size: 150%;
  }
