.folio1 {
  background: url('http://www.theshow.jp/static/assets/shobanner1.jpg') 50% 50% no-repeat;
}

.folio2 {
  background: url('http://www.theshow.jp/static/assets/shobanner2.jpg') 50% 50% no-repeat;
}

.folio3 {
  background: url('http://www.theshow.jp/static/assets/shobanner3.jpg') 50% 50% no-repeat;
}

.img_circle_holder {
    width: 140px;
    height: 140px;
}

/* resize images */
.img_circle_holder img {
    width: 100%;
    height: auto;
}
