{% load cms_tags sekizai_tags %}
<html>

<head>
    {% render_block "css" %}
    <title> {%block title%} The Sho(w) Mainpage {% endblock %} </title>
</head>

<body>

{% addtoblock "css"%}
<link rel="stylesheet" type="text/css" href="/media/css/basepage.css"/>
{% endaddtoblock %}
<div id="pagecontent">

    {% cms_toolbar %}
    {% block banner %}{% endblock %}
    {% block base_content %}{% endblock %}
    {% block trail_content %}{% endblock %}
    {% addtoblock "js" %}
    <script src="/static/js/jquery-2.0.3.min.js' %}"></script>
    <script src="/static/js/bootstrap.min.js' %}"></script>
    {% endaddtoblock%}
    {% render_block "js" %}

</div>

</body>

</html>

