<!DOCTYPE html>
{% load cms_tags sekizai_tags static %}

{% addtoblock "css"%}
<link rel="stylesheet" type="text/css" href="{% static "css/basepage.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/carousel.css" %}"/>
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{% static "js/jquery-2.0.3.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/holder.js" %}"></script>
{% endaddtoblock%}

<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Website for Hair Produce The Show">
    <meta name="author" content="Matthew Hinrichs: 2014">
    {% render_block "css" %}
    <title>Hair Produce The Show</title>
  </head>

  <body>
    <div id="pagecontent">
      {% cms_toolbar %}
      {% block banner_content %}{% endblock %}
      {% block base_content %}{% endblock %}
      {% block footer_content %}{% endblock %}

      {% render_block "js" %}
    </div>
  </body>

</html>
