{% extends "base_page.html" %}
{% load cms_tags sekizai_tags static %}

{% block banner%}
<div id="banner"> {% placeholder banner_content %} </div>
{% endblock %}

{% block banner_content %}

{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{% static "css/landing.css" %}"/>
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{% static "js/landing.js" %}"></script>
{% endaddtoblock %}

<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">The Show</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/shobiz/">予約</a></li>
            <li><a href="/weblog/">ブログ</a></li>
            <li><a href="/photo/">ギャラリー</a></li>
          </ul>
        </div>
      </div>
    </div>

    </div>
  </div>
{% endblock %}

{% block base_content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active folio1">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <div class="item folio2">
      <div class="container">
        <div class="carousel-caption">
            <p><a class="btn btn-lg btn-primary" href="/photo/" role="button">ギャラリー</a></p>
        </div>
      </div>
    </div>
    <div class="item folio3">
      <div class="container">
        <div class="carousel-caption">
            <p><a class="btn btn-lg btn-primary" href="/shobiz/" role="button">予約!</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
        <center><div class="img_circle_holder">{% placeholder "CirclePhoto1" %}</div></center>
      <div id="textbox1">{% placeholder "TextBox1" %}</div>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <center><div class="img_circle_holder">{% placeholder "CirclePhoto2" %}</div><center>
      <div id="textbox2">{% placeholder "TextBox2" %}</div>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <center><div class="img_circle_holder">{% placeholder "CirclePhoto3" %}</div><center>
      <div id="textbox3">{% placeholder "TextBox3" %}</div>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      {% placeholder "FeatureTextBox1" %}
    </div>
    <div class="col-md-5">
        <center><div class="img_holder">{% placeholder "FeaturePhoto1" %}</div></center>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
        <center><div class="img_holder">{% placeholder "FeaturePhoto2" %}</div></center>
    </div>
    <div class="col-md-7">
      {% placeholder "FeatureTextBox2" %}
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      {% placeholder "FeatureTextBox3" %}
    </div>
    <div class="col-md-5">
        <center><div class="img_holder">{% placeholder "FeaturePhoto3" %}</div></center>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
{% endblock %}

{% block footer_content%}
<!-- FOOTER -->
<footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>&copy; 2014 Hair Produce The Show, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

  </div><!-- /.container -->
{% endblock %}
