{% block sidebar_content %}
{% if categories %}
<h2>Popular Categories</h2>
    <ul>
        {% for category in categories %}
            <li><a href="/rango/category/{{category.url}}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <strong>No categories at present.</strong>
{% endif %}

{% if pages %}
    <h2>Most Viewed Pages</h2>
        <ul>
        {% for page in pages %}
            <li><a href="{{ page.url }}"> {{ page.title }}</a></li>
        {% endfor %}
        </ul>
{% else %}
    <strong>No pages at present.</strong>
{% endif %}
{% endblock %}
