<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...hello world!</h1>
        {% if categories %}
        <h2>Popular Categories</h2>
            <ul>
                {% for category in categories %}
                <li><a href="/rango/category/{{category.url}}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
        <strong>No categories at present.</strong>
        {% endif %}

        {% if pages %}
        <h2>Most Viewed Pages</h2>
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}"> {{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
        <strong>No pages at present.</strong>
        {% endif %}

        <img src="{% static "rango.jpg" %}" alt="Rango!"/><br>
        <a href="/rango/about/">To the about page!</a>

    </body>

</html>



