<!DOCTYPE html>
{% load cms_tags sekizai_tags %}

<html>
    {% render_block "css" %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% addtoblock "css"%}
        <link rel="stylesheet" type="text/css" href="/media/css/basepage.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-fluid-adj.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css"/>
        {% endaddtoblock %}
        {% addtoblock "js" %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        {% endaddtoblock %}

        <title> {%block title%} Rango! {% endblock %} </title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href"/rango/">Rango</a>

                    <div class="nav-collapse collapse">
                        <u1 class="nav pull-right">
                            {% if user.is_authenticated %}
                            <li class="navbar-text">Welcome, {{ user.username }}!</li>
                            <li><a href="/rango/logout/">Logout</a></li>
                            {% else %}
                            <li><a href="/rango/register/">Register</a></li>
                            <li><a href="/rango/login/">Login</a></li>
                            {% endif %}
                        </u1>

                    <u1 class="nav">
                        {% if user.is_authenticated %}
                        <li><a href="/rango/add_category">Add Category</a></li>
                        <li><a href="/rango/search/">Search</a></li>
                        {% endif %}
                        <li><a href="/rango/">Index</a></li>
                        <li><a href="/rango/about/">About</a></li>
                    </u1>
                </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4">
                <div class="well sidebar-nav">
                {% include "rango/category_list.html" %}
                </div><!--/.well-->
            </div><!--/span-->
            <div class="span8">

               {% block banner %}{% endblock %}
               {% block base_content %}{% endblock %}
               {% block trail_content %}{% endblock %}

            </div><!--span9-->

        </div><!--row-->
        </div><!--fluid container end-->
    </body>
    <footer>
        <div class="container">
            <p>&copy; Rango: How to Tango with Django 2013</p>
        </div>
        {% render_block "js" %}
    </footer>
</html>


