#banner {
  width: 950px ;
  height: 150px ;
  background-color: purple;
  margin-left: 25px ;
  margin-right: 25px ;
  margin-top: 5px ;
}

#upperleft {
  width: 550px ;
  height: 300px ;
  background-color: red;
  float: left ;
  margin-left: 25px ;
  margin-top: 50px ;
  margin-bottom: 50px ;
}

#upperright {
  width: 350px ;
  height: 300px ;
  background-color: orange;
  float: right ;
  margin-right: 25px ;
  margin-top: 50px ;
  margin-bottom: 50px ;
}

#lowerleft {
  width: 350px ;
  height: 300px ;
  background-color: blue;
  float: left ;
  margin-left: 25px ;
  margin-bottom: 50px ;
}

#lowerright {
  width: 550px ;
  height: 300px ;
  background-color: green;
  float: right ;
  margin-right: 25px ;
  margin-bottom: 50px ;
}
