<!DOCTYPE html>

{% load static sekizai_tags %}
<html>

<head>
    {% render_block "css" %}
  <title> {%block title%} Schedule an appointment! {% endblock %} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% addtoblock "css"%}
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
  {% endaddtoblock %}

  {% addtoblock "js" %}
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  {% endaddtoblock %}

</head>

<body>

  {% block base_content %}{% endblock %}

  {% render_block "js" %}

</body>

</html>






