{% extends "shobiz/apo_base.html" %}

{% load sekizai_tags static %}

{% block base_content %}

{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{% static "css/schedule.css" %}"/>
{% endaddtoblock %}

{% addtoblock "js" %}
  <script src="{% static "js/djangocsrf.js" %}"></script>
  <script src="{% static "js/schedule.js" %}"></script>
{% endaddtoblock %}

<div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="jumbotron">
          <h1>Book an appointment with {{ employee.name }}</h1>
          <p>Choose the time for your appointment below.</p>
          <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <div id="dateinfo">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget</p>
        </div>
      </div>
      <div class="col-md-6">
        <p>Appointment form!</p>
        <form id="appointment_form" method="post" action="/shobiz/appointment/">

          {% csrf_token %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}

          {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text}}
            <p>{{ field }}</p>
          {% endfor %}

          <p><input type="submit" name="submit" value="Register Appointment" /></p>
        </form>
      </div> <!--rightcol-->
    </div> <!--outerrow-->
  </div> <!--container-->

{% endblock %}
