{% if calendar %}
<div class="table-responsive">
    <table border="2" class="table table-bordered">
        <tr><th colspan="7"><center>{{ year }}年{{ month }}月</center></th></tr>
        <tr>
            {% for day in days_of_week %}
            <td><center>{{ day }}</center></td>
            {% endfor %}
        </tr>
        {% for week in calendar %}
        <tr class="week{{ forloop.counter }}">
            {% for workday in week %}
            <td class="{% cycle 'sun' 'mon' 'tues' 'wednes' 'thurs' 'fri' 'satur' %}day {{ workday.status }}" id="{{ workday.to_string }}">
                <center>{{ workday.date.day }}</center>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<strong>Oops, something went wrong!</strong>
{% endif %}



